@model FrechettteZacharyTp4.ViewModels.ClientsCreateVM

<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <label asp-for="Nom">Nom</label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Age">Âge</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="NoTelephone">Téléphone</label>
        <input asp-for="NoTelephone" class="form-control" />
        <span asp-validation-for="NoTelephone" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Courriel">Courriel</label>
        <input asp-for="Courriel" class="form-control" />
        <span asp-validation-for="Courriel" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Abonnement">Type d'abonnement</label>
        <select asp-for="AbonnementId" asp-items="@Model.Abonnement" class="form-control">
            <option>Choisir un abonnement</option>
        </select>
        <span asp-validation-for="AbonnementId" class="text-danger"></span>
    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        <button id="annuler" class="btn btn-danger">Annuler</button>
    </div>
</form>
